[submodule "Jackal/ThirdParty/glfw"]
	path = Jackal/ThirdParty/glfw
	url = https://github.com/GLFW/glfw
[submodule "Jackal/ThirdParty/glslang"]
	path = Jackal/ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "Jackal/ThirdParty/googletest"]
	path = Jackal/ThirdParty/googletest
	url = https://github.com/Google/googletest
[submodule "Jackal/ThirdParty/protobuf"]
	path = Jackal/ThirdParty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "Jackal/ThirdParty/zlib"]
	path = Jackal/ThirdParty/zlib
	url = https://github.com/madler/zlib.git
