[submodule "Jackal/ThirdParty/glfw"]
	path = Jackal/ThirdParty/glfw
	url = https://github.com/GLFW/glfw
[submodule "Jackal/ThirdParty/glslang"]
	path = Jackal/ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "Jackal/ThirdParty/googletest"]
	path = Jackal/ThirdParty/googletest
	url = https://github.com/Google/googletest
